h1{
    font-family: 'Gruppo';font-size: 32px;
}

#clockdiv {
    min-width: 30%;
    font-family: sans-serif;
    color: white;
    display: inline-block;
    font-weight: 100;
    text-align: right;
    font-size: 100%;
    width: 20%;
    padding-right: 5%;

}

.snipcart-items-count{
  margin-top: 7.5%;
padding-left: 18.5%;
}

.snipcart {
    font-family: Open Sans,sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #313332;
}

.saleanimation{
  background-color: #99d2d4;
  height: 30px;
  position: relative;
  width: 95%;
  z-index: -100;
  text-align: center;
  margin-bottom: 3%;
padding-top: 1%;
padding-bottom: 1%;
padding-left: 5%;
display: flex;

}

a{
  text-decoration: none;
}

#clockdiv > div {
    border-radius: 2px;
    display: inline-block;
}

#clockdiv div > span {
    border-radius: 3px;
    font-size: 130%;
    opacity: 100%;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;

}


.smalltext {
    font-size: 10%;
    font-weight: bold;
    text-align: center;
}

h5{
  color: white;
}

.girls{
  position: relative;
  text-align: center;
  color: white;
  z-index: -50;
  display: block;
}

.title{
  position: absolute;
  top: 50%;
  left:30%;
  transform: translate(-30%, -50%);
  z-index: 0;
}

.title2{
  position: absolute;
  top: 50%;
  right:15%;
  transform: translate(-15%, -50%);
  z-index: 0;
}



.slide_in{
  font-size: 400%;
  font-family: 'trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  animation: slideMe .4s ease-in;
}

@keyframes slideMe{
  0%{
    transform: skewX(53deg) translateX(-500px);
  }
  100%{
    transform: skew(0deg);
  }
}


.slide_in2{
  font-size: 400%;
  font-family: 'trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  animation: slideMe2 .4s ease-in;
}

@keyframes slideMe2{
  0%{
    transform: skewX(53deg) translateX(+500px);
  }
  100%{
    transform: skew(0deg);
  }
}


.clearfix:after{
  display: block;
  clear: both;
  content: "";
}

@media only screen and (min-width: 666px){
  h5{
    font-size: 100%;
  }

  }



@media only screen and (max-width: 414px){
  label{
    display: block;
    cursor: pointer;
  }

  .menu{
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu a{
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
  }
  #toggle:checked + .menu{
    display: block;
  }

.bar{
  display: none;
}

#logocom{
  display: none;
}

  }


  @media only screen and (min-width: 659px){

    #logo{
      display: none;
    }

 .bar{
   opacity: 50%;


 }

#basket{
  display: none;
}

.footer{
  display: none;
}
.menu a{
  background-color: white;
}

.menu{
  display: contents;

}

.page{
  display: flex;
  padding: 1%;
}

.girls{
  width: 97%;
}
header{
  border-bottom: none;
}

}

@media only screen and (min-width: 960px){
  h5{
    font-size: 120%;
  }

}

@media only screen and (min-width: 1120px){
  h5{
    font-size: 140%;
  }
}
