*{
  margin: 0;
  padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EAEAEB;
    background-color: white;
    position: relative;
    text-align: left;
}

.nav{
  width: 150%;
}

#logo{
  width: 100%;
  text-align: left;
  padding-left: 2%;
}

#logocom{
position: absolute;
left: 40%;
top: 9%;;
}


#carticon{
  max-width: 65%;
  padding-right: 13%;
}

#basket{
  width: 3.5em;
  text-align: right;
  position:absolute;
  right: 0;
  margin-right: 12%;
  padding-top: 3%;
}

#contentstitle{
  width: 100%;
  position:inherit;
  top: 0;
}

#contentstitle{
  background-color: black;
  padding-left: 2%;
  height: 8%;
}

.closebutton{
  max-width: 20%;
  padding-left: 47%;
  position: absolute;
  top: 20px;
  padding-top: 1%;

}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

#menu a {
  text-decoration: none;
  font-family:sans-serif;
  font-size: 12px;
  text-align: left;
  color: black;
  padding: 20px;
  border-bottom: 1px solid gray;
  display: block;
  background: white;
}


#accountbutton{
  position: absolute;
  bottom: 0;
  border-top: 1px solid gray;
  width: 100%;
}


h2{
  font-family: sans-serif;
  font-size: 22px;
}

h3{
  font-family: sans-serif;
  font-size: 48px;
  color: white;
  text-align: left;
}

.links{
  padding-left: 2%;
  display: flex;


}

.homelink{
  padding-right: 1%;
  text-decoration: none;
}

.menlink{
  text-decoration: none;
  color: gray;
}


img{
width: 100%;

}

.content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.item1 {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2);
    max-width:45%;
    margin: auto;
    font-family: arial;
    text-align: center;
    width: 50%;
    margin-top: 7%;
}

.price{
  color: grey;
  font-size: 22px;
}

.item1 button{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  height: 75px;
}

.card button:hover {
  opacity: 0.7;
}

.menscontent {
    margin-top:20px;
    display: flex;
}

.saleanimation{
  background-color: #99d2d4;
}

html{
  font-family: "helvetica neue", sans-serif;
}

.nav{
  text-align: left;
  height:50px;
  margin: none;
  z-index: 100;
}

.menu{
  margin: none;
  z-index: 100;
  background-color: #f1f1da;
  position: absolute;
  left: 0;
  top: 63px;
}

.menu a {
  clear: right;
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 90px;
  z-index: 100;
  background-color: #f8f8ec;
}

label{
  width: 2.5em;
  float: right;
  display: none;
  padding-right: 4%;
  padding-top: 5%;
}

#toggle{
  display: none;
}

.bar{
  float: right;
  display: flex;
}

.footer{
  position: fixed;
  left:0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  border-top: 1px solid #EAEAEB;
  background-color: white;
  z-index: 200;

}


#home{
  width: 25%;
  padding-top: 2%;
  text-align: center;
}

#account{
  width: 25%;
text-align: center;
padding-top: 3%;
}


#wishlist{
  width: 25%;

text-align: center;
padding-top: 3%;
}

#contact{
  width: 25%;
  text-align: center;
  padding-top: 3%;
}

#a{
  max-width: 35%;
}

#b{
  max-width: 35%;
}

#c{
  max-width: 35%;
}

#d{
  max-width: 35%;
}


#account2{
  width: 25%;
text-align: center;
padding-top: 3%;
}

#bag2{
  width: 25%;
text-align: center;
padding-top: 3%;
fill: white;
}


#wishlist2{
  width: 25%;
text-align: center;
padding-top: 3%;
}

#contact2{
  width: 25%;
  text-align: center;
  padding-top: 3%;
}

img{
width: 100%;

}
